* {
    margin:0;
    padding:0;
    -ms-overflow-style:none;
    scrollbar-width:none;
}

*::-webkit-scrollbar {
    display:none;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --blue:  #67a1fe;
    
    --fs-h1: 7.75rem;
    --fs-h4: 5.5rem;
    --fs-h6: 4rem;
    --fs-h8: 2.5rem;
    --fs-nav:2rem;
    --fs-proj-nav:1.5rem;
}

table {
    table-layout:auto;

    width: fit-content;
}

td {
    white-space: nowrap;
    padding:0 2rem 0 1rem;
}

html, body {
    color:var(--white);
    background-color:var(--black);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:62.5%; /* 10px base font size*/

    scroll-snap-type:y mandatory;
}

h4 {
    font-size: var(--fs-h4);
}

h4::after {
    content: "";
    display: block;
    height: 0.2rem;
    width: 15rem;
    margin-top: 1rem;
    background-color: var(--blue);
}

h6 {
    font-size: var(--fs-h6);
}

.h8 {
    font-size: var(--fs-h8);
}

a {
    color:var(--white);
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100vh;
    
    background-color: var(--black);
    background-image: linear-gradient(to top, var(--black), grey);
    background-size: cover;
    background-position: center;

    scroll-snap-align:start;
}

.row {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.85rem;
    
    height: 9rem;

    font-size: var(--fs-nav);
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100% - 5rem);
    
    padding: 0 0 30rem 0;
}

.header-text h1 {
    flex-basis:content;
    
    height: 10rem;
    
    font-size:var(--fs-h1);
}

.header-text p {
    font-size: 2.5rem;
    flex-basis:content;
}

.profile {
    display:flex;

    height: 100vh;
    width: 100%;

    scroll-snap-align:start;
}

.personal {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
    margin-left: 5rem;

    background-color: var(--black);
    height: calc(100% - 15rem);
    width: 25rem;
}

.personal-text {
    position:absolute;
    top: 28rem;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20rem;

    font-size: var(--fs-nav);
    color: var(--black);
}

.personal-name {
    text-align:center;
}

.personal-info {
    text-align:center;
}

.personal-certs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.personal-certs > div {
    margin: 1rem;
}

.personal-contact {
    text-align:center;

    font-size: var(--fs-proj-nav);
}

.personal-social {
    text-align: center;
}

.spacer {
    width:10%;
}

.portfolio {
    display:flex;
    flex-direction:column;
    align-items:flex-start;

    height:60%;
    max-width:calc(90%-25rem);

    margin:5rem;
}

.portfolio-title {
    height: 8.5rem;
}

.project-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 6rem;

    height: 10rem;

    margin-top:0.5rem;
    
    font-size: var(--fs-proj-nav);
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;

    overflow-y:auto;
    scroll-snap-type:y mandatory;

    height:100%;
    width:100%;

    margin:5rem 5rem 5rem 0;
}

.project-tab {
    display: flex;
    flex-direction:row;

    min-height:100%;
    width:100%;
    margin: 0 5rem 5rem 0;

    scroll-snap-align: start;
}

.project-descript {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    width:50rem;
}

.project-table {
    font-size: var(--fs-nav);
}

.project-pic {
    display:flex;

    min-height: 100%;
    width:50%;
}

.about-section {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;

    scroll-snap-align:start;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    scroll-snap-align: start;
}